<h2>Registered Students</h2>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Roll No</th>
  </tr>
  <% students.forEach(student => { %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.roll_no %></td>
    </tr>
  <% }) %>
</table>


